# AI Provider Key
OPENROUTER_API_KEY=your_openrouter_api_key_here

# Keamanan Internal (WAJIB SAMA dengan Gateway)
INTERNAL_GATEWAY_SECRET=your_internal_gateway_secret_here

# Lokal Model (Ollama)
OLLAMA_BASE_URL=http://localhost:11434

# App Settings
PROJECT_NAME="Lerka AI Worker"
API_V1_STR=/api/v1
ENVIRONMENT=development