# Application Settings
LLM_PROVIDER=ollama
ENVIRONMENT=development
OLLAMA_BASE_URL=http://172.17.0.1:11434
DEFAULT_MODEL=llama3.2:3b

# MongoDB Settings
MONGODB_URL=mongodb://root:example@mongodb:27017/
MONGODB_DATABASE=lerka_chat
MONGODB_USER=root
MONGODB_PASSWORD=example

# Optional Settings
# NGROK_AUTHTOKEN=<API_KEY_KAMU>